~$*
*.tmp
*.dll
*.pdb
*.suo
.suo
.vs

bin
out
obj
build
TestResults

/src/clients/generated

# Build-gen'd OpenAPI Spec
src/CarbonAware.WebApi/src/CarbonAware.WebApi.xml

# Include ONLY launch/task files in .vscode
!.vscode/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
.DS_Store

samples/watttime-registration/settings.py

# exclude local settings to easily set up your repo from the appsettings.Development.json.template
appsettings.Development.json
# exclude custom zones to easily set up your repo from the custom-azure-zones.json.template
src/data/location-sources/custom-azure-zones.json

# exclude artifacts on java-client example
samples/java-client/target
